<center><h2><%=p1_name%> please pick the word for <%=p2_name%> to guess

<center><h2><%=p2_name%> you must guess <%=p1_name%>'s word!
<center>
<form method="post" action="/secretpassword">
<input type="password" name="word" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')">
<input type="submit">
<input type="hidden" name="player1" value="<%=p1_name%>">
<input type="hidden" name="player2" value="<%=p2_name%>">



</form>